[program:grafana]
command           = /opt/app/grafana/current/bin/grafana-server web
directory         = /opt/app/grafana/current
redirect_stderr   = true
stdout_logfile    = /opt/app/grafana/current/logs/grafana.out
user              = grafana
