[program:ds-worker]
command           = {{ APP_ROOT }}/app/dolphinscheduler/current/bin/dolphinscheduler-daemon.sh start worker-server
directory         = {{ APP_ROOT }}/app/dolphinscheduler/current
redirect_stderr   = true
stdout_logfile    = {{ APP_ROOT }}/app/dolphinscheduler/current/logs/ds-worker.out
user              = dolphinscheduler
stopasgroup       = true