[program:ds-alert]
command           = /opt/app/dolphinscheduler/current/bin/dolphinscheduler-daemon.sh start alert-server
directory         = /opt/app/dolphinscheduler/current
redirect_stderr   = true
stdout_logfile    = /opt/app/dolphinscheduler/current/logs/ds-alert.out
user              = dolphinscheduler
stopasgroup       = true
