# Oracle Settings
export TMP=/tmp
export TMPDIR=$TMP

export ORACLE_HOSTNAME=$(hostname)
export ORACLE_UNQNAME={{ oracle19c.sid }}
export ORACLE_BASE={{ oracle19c.app_dir }}/app/oracle
export ORACLE_HOME=$ORACLE_BASE/product/19.0.0/dbhome_1
export ORA_INVENTORY={{ oracle19c.app_dir }}/app/oraInventory
export ORACLE_SID={{ oracle19c.sid }}
export PDB_NAME=pdb1
export DATA_DIR={{ oracle19c.data_dir }}/oradata

export PATH=/usr/sbin:/usr/local/bin:$PATH
export PATH=$ORACLE_HOME/bin:$PATH

export LD_LIBRARY_PATH=$ORACLE_HOME/lib:/lib:/usr/lib
export CLASSPATH=$ORACLE_HOME/jlib:$ORACLE_HOME/rdbms/jlib