[program:ds-master]
command           = {{ APP_ROOT }}/app/dolphinscheduler/current/bin/dolphinscheduler-daemon.sh start master-server
directory         = {{ APP_ROOT }}/app/dolphinscheduler/current
redirect_stderr   = true
stdout_logfile    = {{ APP_ROOT }}/app/dolphinscheduler/current/logs/ds-master.out
user              = dolphinscheduler
stopasgroup       = true
