# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - "{{ alertmanager.host }}:{{ alertmanager.port }}"

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - "/opt/app/prometheus/rules/*_rule.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
# TODO 相对应的是可以配置动态发现的服务, 暂时不去研究
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
{% for job in jobs -%}
- job_name: '{{ job.name }}'
  static_configs:
  - targets:
    {% for target in job.targets -%}    
    - '{{ target.host }}:{{ target.port }}'
    {% endfor -%}
    labels:
      {% for label in job.labels -%}
      {{ label.key }}: {{ label.value }}
      {% endfor %}

{% endfor %}

