[program:ds-alert]
command           = {{ APP_ROOT }}/app/dolphinscheduler/current/bin/dolphinscheduler-daemon.sh start alert-server
directory         = {{ APP_ROOT }}/app/dolphinscheduler/current
redirect_stderr   = true
stdout_logfile    = {{ APP_ROOT }}/app/dolphinscheduler/current/logs/ds-alert.out
user              = dolphinscheduler
stopasgroup       = true
