[program:ds-master]
command           = /opt/app/dolphinscheduler/current/bin/dolphinscheduler-daemon.sh start master-server
directory         = /opt/app/dolphinscheduler/current
redirect_stderr   = true
stdout_logfile    = /opt/app/dolphinscheduler/current/logs/ds-master.out
user              = dolphinscheduler