[program:ds-api]
command           = /opt/app/dolphinscheduler/current/bin/dolphinscheduler-daemon.sh start api-server
directory         = /opt/app/dolphinscheduler/current
redirect_stderr   = true
stdout_logfile    = /opt/app/dolphinscheduler/current/logs/ds-api.out
user              = dolphinscheduler
stopasgroup       = true
