[program:ds-api]
command           = {{ APP_ROOT }}/app/dolphinscheduler/current/bin/dolphinscheduler-daemon.sh start api-server
directory         = {{ APP_ROOT }}/app/dolphinscheduler/current
redirect_stderr   = true
stdout_logfile    = {{ APP_ROOT }}/app/dolphinscheduler/current/logs/ds-api.out
user              = dolphinscheduler
stopasgroup       = true
